<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <script
      type="text/javascript"
      src="https://dl.frontapp.com/libs/frontjs.min.js"
    ></script>

    <!-- <script type="text/javascript" src="mockCRM.js"></script> -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>

    <script type="text/javascript">
      const firebaseToken = '{{token}}';
      const frontSecret = '{{frontSecret}}';
    </script>
    <script type="text/javascript" src="index.js"></script>
  </head>

  <body>
    <div class="w3-container w3-center">
      <h2 id="name">Bob Smith</h2>
      <p id="handle">Firebase ID goes here</p>
    </div>

    <table class="w3-table" style="font-size: 0.8rem;">
      <tr>
        <th>Email</th>
        <td id="email">EmailAddress</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td id="phone">PhoneNo</td>
      </tr>
    </table>

    <div class="w3-container w3-center">
      <h3>AI Bot</h3>
      <button id="mute_bot" class="w3-button w3-red" onClick="muteBot()">
        Disable
      </button>
      <button id="unmute_bot" onClick="unmuteBot()" class="w3-button w3-green">
        Enable
      </button>
    </div>

    <div class="navButtonRow width100percent displayNone">
      <!--
      <div id="infoButton" class="font navButton" onClick="showInfo()">
        Info
      </div>
    -->
      <div id="notesButton" class="font navButton" onClick="showNotes()">
        Flights
      </div>
    </div>
    <div id="infoSection" class="width100percent displayNone"></div>
    <div id="notesSection" class="width100percent displayNone">
      <div class="column" id="notes"></div>
    </div>

    <!--
    <div class="plugin-div">
      <span id="name" class="font name"></span>
      <span id="handle" class="font handle">-</span>

      <div class="navButtonRow width100percent">
        <div id="infoButton" class="font navButton" onClick="showInfo()">Info</div>
        <div id="notesButton" class="font navButton" onClick="showNotes()">Flights</div>
      </div>

      <div id="infoSection" class="width100percent">
        <div class="column">
          <div class="row">
            <div class="rowItem infoKey font">Email</div>
            <div class="rowItem infoValue font" id="email"></div>
          </div>
          <div class="row">
            <div class="rowItem infoKey font">Phone</div>
            <div class="rowItem infoValue font" id="phone"></div>
          </div>
          <div class="row">
            <div class="rowItem infoKey font">WhatsApp</div>
            <div class="rowItem infoValue font" id="whatsapp"></div>
          </div>
          <div class="row">
            <div class="rowItem infoKey font">Account</div>
            <div class="rowItem infoValue font" id="account"></div>
          </div>
          <div class="row">
            <div class="rowItem infoKey font">Plan</div>
            <div class="rowItem infoValue font" id="plan"></div>
          </div>
          <div class="row">
            <div class="rowItem infoKey font">Credits</div>
            <div class="rowItem infoValue font" id="credits"></div>
          </div>
        </div>
      </div>

      <div id="notesSection" class="width100percent displayNone">
        <div class="column">
          <button class="newNote font" onClick="createNote()">+ New Note</button>
          <div class="column" id="notes"></div>
        </div>
      </div>
    </div>
  --></body>
</html>
